---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import RevealScript from "../components/RevealScript.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import ProjectSection from "../components/sections/ProjectSection.astro";
import CareSection from "../components/sections/CareSection.astro";
import PillarsSection from "../components/sections/PillarsSection.astro";
import SpacesSection from "../components/sections/SpacesSection.astro";
import PlanningSection from "../components/sections/PlanningSection.astro";
import OffersSection from "../components/sections/OffersSection.astro";
import WorkshopsSection from "../components/sections/WorkshopsSection.astro";
import ReassuranceSection from "../components/sections/ReassuranceSection.astro";
import CharterSection from "../components/sections/CharterSection.astro";
import VisitSection from "../components/sections/VisitSection.astro";
import FinalCtaSection from "../components/sections/FinalCtaSection.astro";
---

<BaseLayout>
  <SiteHeader />

  <main id="top">
    <HeroSection />
    <ProjectSection />
    <CareSection />
    <PillarsSection />
    <SpacesSection />
    <PlanningSection />
    <OffersSection />
    <WorkshopsSection />
    <ReassuranceSection />
    <CharterSection />
    <VisitSection />
    <FinalCtaSection />
  </main>

  <SiteFooter />
  <RevealScript />
</BaseLayout>
